.App
{
  flex-direction : column;
  display : flex;
  justify-content:center;
  align-items : center;
  padding : 30px 30px
  
}

.App_searchForm
{
  padding : 24px 40px;
  margin-top : 30px;
}
.App_input
{
  padding : 6px 10px ;
  min-width: 20px;
  max-width : 100vw;
  font-size : 15px;

}

.app_submit 
{
  padding : 6px 10px;
  font-size : 15px;
  margin-left : 10px;
}

.recipe_grid
{
  display : grid !important;
  margin-top : 20px;
  grid-template-columns: 250px 250px;
  align-items : baseline;
}